@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1683442421025') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-baocun:before {
  content: "\e727";
}

.icon-wenben:before {
  content: "\e68e";
}

.icon-xiangpian:before {
  content: "\e68f";
}

.icon-biaoji:before {
  content: "\e692";
}

.icon-yulanzupu:before {
  content: "\e614";
}

.icon-youjiantou:before {
  content: "\e605";
}

.icon-zuojiantou:before {
  content: "\e618";
}

.icon-shanchu:before {
  content: "\e61e";
}

